<main class="container d-flex w-100 justify-content-center">
  <div *ngIf="auth.getUser() | async; then authenticated else guest">
  </div>
</main>

<ng-template #guest>
  <button class="btn btn-danger align-self-center" (click)="auth.googleSignIn()">
    Log-in with Google
  </button>
</ng-template>


<ng-template #authenticated>
  <div class="d-flex align-self-center justify-content-center flex-column" *ngIf="auth.getUser() | async as user">
    <!-- <img [src]="user.photoURL" alt="profile picture"> -->
    <h3>Welcome {{ user.displayName }}</h3>
    <div class="container pt-2 pb-2">
      <a class="btn btn-dark col-6" routerLink="/grass">Gotta cath'em all</a>
      <a class="btn btn-light col-6">Capture History</a>
    </div>
    <button class="btn btn-primary" (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
