# compiled output  
gotta-cath-em-all/dist  
gotta-cath-em-all/tmp  
gotta-cath-em-all/out-tsc  
  
# dependencies  
gotta-cath-em-all/node_modules  
  
# IDEs and editors  
gotta-cath-em-all/.idea  
gotta-cath-em-all.project  
gotta-cath-em-all.classpath  
gotta-cath-em-all.c9/  
*.launch  
gotta-cath-em-all/.settings/  
*.sublime-workspace  
  
# IDE - VSCode  
gotta-cath-em-all/.vscode/*  
gotta-cath-em-all/!.vscode/settings.json  
gotta-cath-em-all/!.vscode/tasks.json  
gotta-cath-em-all/!.vscode/launch.json  
gotta-cath-em-all/!.vscode/extensions.json  
  
# misc  
gotta-cath-em-all/.sass-cache  
gotta-cath-em-all/connect.lock  
gotta-cath-em-all/coverage  
gotta-cath-em-all/libpeerconnection.log  
gotta-cath-em-all/npm-debug.log  
gotta-cath-em-all/yarn-error.log  
gotta-cath-em-all/testem.log  
gotta-cath-em-all/typings  
gotta-cath-em-all/src/environments/*
  
# System Files  
.DS_Store  
Thumbs.db
